h1 {
    text-align: center;
    color: #00fff0;
}

html {
    background-color: #000000;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}
.grid-items {
    background-color: #f1f1f1;
    border: 1px solid #000000;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
