body { 
    font-family: Arial, sans-serif; 
    padding: 20px; 
    background-color:rgb(50, 67, 57); 
}
h1 { 
    color: #fff; 
    text-align: center;
}
table{ 
    border-collapse: collapse; 
    margin-bottom: 20px;
    display:grid;
    justify-content: center;
    align-items: center; 
}
td { 
    width: 30px; 
    height: 30px; 
    text-align: center; 
    border: 1px solid #fff;
}
td:nth-child(3n) { 
    border-right: 4px solid #fff; 
}
tr:nth-child(3n) td { 
    border-bottom: 3px solid #fff; 
}
input { 
    width: 28px; 
    height: 28px; 
    text-align: center; 
}
button { 
    padding: 10px 20px;
    align-items: center;
}
#button-container { 
    display: flex; 
    justify-content: center; 
}