.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    /* width: fit-content; */
    gap: 1rem
}

.subgrid {
    display: grid;
    aspect-ratio: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #888;
    padding: 10px;
    border-radius: 10px;
}

.grid-items {
    background-color: #f1f1f1;
    border: 1px solid #000000;
    padding-top: 25%;
    /* font-size: 30px; */
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

@media (max-width:850px) {
    .row {
        flex-direction: column;
    }

}