h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 800;
}

.button-container {
    background-color: var(--button-container2);
    font-family: "Roboto Mono";
}

button {
    background-color: var(--button-container1);
    border-radius: 5px;
    padding: 1px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--button-container8);
}

button:hover {
    background-color: var(--button-container3);
    border-color: var(--button-container4);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    color: var(--button-container5);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.subgrid {
    display: grid;
    aspect-ratio: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-item {
    background-color: var(--grid-item-bg-color);
    border: 1px solid var(--button-container7);
    padding-top: 15%;
    text-align: center;
    font-size: 30px;
}

#theme-toggle:hover {
    background-color: var(--button-light-bg);
    color: var(--button-light-text);
}

.button-container>* {
    outline: 1px solid lightblue;
}

@media (max-width: 850px) {
    .row {
        flex-direction: column;
    }
}