<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/style.css" />
        <title>My Grid</title>
    </head>

    <%function* nextName() { const colLabels=Array.from("abcdefghi"); const
    rowLabels=Array.from("123456789"); let colIdx=0; let rowIdx=0; while (true)
    { yield `${colLabels[colIdx]}${rowLabels[rowIdx]}`; colIdx++; if (colIdx==9)
    { colIdx=0; rowIdx++; } if (rowIdx==9) break; } } nameIter=nextName();%>

    <body data-bs-theme="dark" class="container">
        <h1 class="text-center mx-auto my-3">grid</h1>
        <div
            class="grid text-center m-auto border border-primary rounded-1 p-1"
            style="width: min(var(--pct-w), var(--pct-h)); aspect-ratio: 1"
        >
            <%_ for( let i=0; i < 81; i++ ) { const
            cellname=nameIter.next().value _%>
            <div
                class="border border-danger"
                style="align-content: center"
                id="<%= cellname %>"
            >
                <%= cellname %>
            </div>
            <%_ } _%>
        </div>
        <div class="m-auto text-center mt-3">Hello Worldle!</div>
    </body>
</html>
